<%# This is ugly and I do not like it.
    However, Rails refuses to recognise :locals => { :active => @doc_group } when
    added to the doc_groups#show template, and we need to know what group, if any,
    is the active one to style and display properly.  So, we use the global if it
    exists, or set it to nil if it doesn't. %>
<% @doc_group ||= nil %>

<li class="group<%= ' active' if doc_group.is_or_has(@doc_group) %>">
  <%= link_to doc_group.name, doc_group %>

  <% if doc_group.is_or_has(@doc_group) %>
    <% if doc_group.children.any? %>
    <ul class="nav nav-list">
      <%= render doc_group.children %>
    </ul>
    <% end %>

    <ul class="nav nav-list">
      <% doc_group.documents.each do |doc| %>
      <li class="doc<%= ' active' if doc == @document %>"><%= link_to doc.name, doc %></li>
      <% end %>
    </ul>
  <% end %>
</li>