<% provide :title, t('.html_title', :version => @version.friendly_name) %>

<h1 class="page-header"><%= t('.title', :version => @version.friendly_name) %> <%= "<small>#{t('.beta')}</small>".html_safe if @version.state == 'future' %></h1>

<% case @version.state
     when 'deprecated'
     %>
<div class="alert alert-danger">
  <strong><%= t('.this_version_is_deprecated', :product => @version.product.name) %></strong>
  <%= link_to t('.current_version_is_here'), @version.product.current_version unless @version.product.current_version.nil? %>
  <%= t('.please_consider_upgrading_to_current', :product => @version.product.name) %>
</div>
<%
     when 'current'
   # do nothing
     when 'future'
     %>
<div class="alert alert-warning">
  <strong><%= t('.this_version_is_a_wip', :product => @version.product.name) %></strong>
  <%= link_to t('.current_version_is_here'), @version.product.current_version unless @version.product.current_version.nil? %>
  <%= t('.please_note_beta_stuff_changes', :product => @version.product.name) %>
</div>
<%
     else
   end
%>

<div class="row">
  <div class="span4">
    <ul class="nav nav-list">
      <%= render @version.head_groups %>
    </ul>
  </div>

  <div class="span8">
    <form class="form-search">
      <input type="text" class="input-large span6" placeholder="Search help for <%= @version.friendly_name %>...">
      <button class="btn btn-success">Search</button>
    </form>
    <h2>Popular resources for <%= @version.friendly_name %></h2>
    <dl>
      <dt>Article 1</dt>
      <dd>Summary of article contents go here.</dd>
      <dt>Video 1</dt>
      <dd>Summary of video goes here.</dd>
    </dl>
  </div>
</div>