<%= form_for(@doc_group) do |f| %>
  <% if @doc_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc_group.errors.count, "error") %> prohibited this doc_group from being saved:</h2>

      <ul>
      <% @doc_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version_id %><br />
    <%= f.number_field :version_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :private %><br />
    <%= f.text_field :private %>
  </div>
  <div class="field">
    <%= f.label :primary_doc_id %><br />
    <%= f.number_field :primary_doc_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
