<%= form_for([:admin, @doc_group]) do |f| %>
  <% if @doc_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc_group.errors.count, "error") %> prohibited this doc_group from being saved:</h2>

      <ul>
      <% @doc_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version_id %><br />
    <%= collection_select(:doc_group, :version_id, Version.all, :id, :friendly_name) %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :private %><br />
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :primary_doc_id %><br />
    <%= f.number_field :primary_doc_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
