<% provide :title, t('.html_title') %>

<h1 class="page-header"><%= t('.title') %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t('.version') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.private') %></th>
      <th><%= t('.primary_doc') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @doc_groups.each do |doc_group| %>
  <tr>
    <td><%= doc_group.version.friendly_name %></td>
    <td><%= doc_group.name %></td>
    <td><%= doc_group.private %></td>
    <td><%= link_to doc_group.primary_doc.name, admin_document_path(doc_group.primary_doc) unless doc_group.primary_doc.nil? %></td>
    <td><%= link_to t('.show'), doc_group %></td>
    <td><%= link_to t('.edit'), edit_admin_doc_group_path(doc_group) %></td>
    <td><%= link_to t('.destroy'), doc_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_admin_doc_group_path %>
